body {margin: 0; font-family: Arial, Helvetica, sans-serif;}

.velkommen{
    color: black;
    font-size: 30px;
    font-weight: 600;
}


.betal{
  display: none;
}
.betalblock {
  display: block;
}
ul.topnav {
    font-family: Arial, Helvetica, sans-serif;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-weight: 550;
  background-color: #333;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav li a.active {background-color: rgba(78,166,182,255); color: black;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;}
}


/*---------------------------*/
/*      Legge til bot        */
/*---------------------------*/

#updateform{
  font-family: Arial, Helvetica, sans-serif;
}

#updateform input{
  background-color: #2196F3;
}

.leggtil{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.leggtilbtn{
    margin-top: 20px;
    padding: 10px 16px;
    font-size: 20px;
    background-color: transparent;
    background-color:  rgba(78,166,182,255);
    border: 2px black solid;
    border-radius: 8px;
    cursor: pointer;
}


.betalebtn{
    background-color: yellow;
    border: 2px solid black;
    padding: 10px 16px;
    margin: 10px;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
}


/* The container */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #a7a7a7;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }





  #score {
    margin-top: 100px;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 100px;
  }
  
  #score td, #score th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #score tr:nth-child(even){background-color: #f2f2f2;}
  
  #score tr:hover {background-color: #ddd;}
  
  #score th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgba(78,166,182,255);;
    color: black;
  }

/* Login og registreringsside */
.wrapper {
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.form-group {
 padding: 10px;
}

#LogInbtn {
  display: flex;
 justify-content: center;
}

#logintekst {
  margin-top: 50px;
}


