body {font-family: Arial, Helvetica, sans-serif;}

.velkommen{
    color: black;
    font-size: 30px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    text-align: center;
}


.betal{
  display: none;
  text-align: center;
}

.betalblock {
  display: block;
}

@media only screen and (max-width: 600px) {
  ul.topnav {
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    list-style-type: none;
    border-top-style: solid;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-weight: 550;
  }
  .velkommen {
    font-size: 20px;
  }
}

ul.topnav {
  font-family: Arial, Helvetica, sans-serif;
  list-style-type: none;
   border-top-style: none;
  border-right-style: none;
  border-bottom-style: solid;
  border-left-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-weight: 550;
  display: flex;
  justify-content: center;
}
.menyicon {
  height: 40px; width: auto;
}
ul.topnav li {float: left;}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: lightgrey;}

ul.topnav li a.active {background-color: rgba(78,166,182,255); color: black;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;}
}


/*---------------------------*/
/*      Legge til bot        */
/*---------------------------*/

form{
  font-family: Arial, Helvetica, sans-serif;
}

.updateform{
  display: none;
}
.updateform2{
  display: none;
}
.updateform3{
  display: none;
}


#formbutton{
  background-color: #2196F3;
}

.leggtil{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.leggtilbtn{
    margin-top: 20px;
    padding: 10px 16px;
    font-size: 20px;
    background-color: transparent;
    background-color:  rgba(78,166,182,255);
    border: 2px black solid;
    border-radius: 8px;
    cursor: pointer;
}


.betalebtn{
  color:white;
  font-size: 25px;
  font-weight: bold;
  border-top-style: none ;
  border-right-style: none ; 
  border-left-style: none ; 
  border-bottom-style: solid ;   
  background-color: #27535B;
  border-color: #a7d3d8;
  border-radius: 5px;
  border-width: 7px;
  width: 300px;
  height: 50px;
  margin-bottom: 15px;
  cursor: pointer;
}

.betalebtn:hover {
  color: #27535B;
  background-color: #a7d3d8;
}

.betal {
  cursor: pointer;
  display: flex;
  justify-content: center;
}
#betal {
  display: none;
}
.updatebuttons{
  display: flex;
  justify-content: space-evenly;
  margin-left: 5%;
  margin-right: 5%;
}

@media only screen and (max-width: 600px) {
  .updatebuttons{
    display: flex;
    flex-direction: column;
    margin-left: 20%;
    margin-top: 2%;
  }
}

/* The container */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #a7a7a7;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

.TABEL {
  max-width: 25%;
}

.oppdaterbtn {
  border-color: black;
  border-radius: 10px;
  border-width: 2px;
  border-radius: 8px;
  cursor: pointer;
}

#BotOversikt {
  margin-bottom: 70px;
  font-weight: bold;
  font-size: 25px;
}

#BotOversikt input {
  margin-bottom: 15px;
}

.Check{
  transform: scale(1.9);
}

#score {   
  font-family: Arial, Helvetica, sans-serif;
  width: 95%;
  height: fit-content;
  margin-left: 2.5%;
  border-collapse: collapse;
  margin-bottom: 100px;  
  margin-top: 100px;
  border-radius: 8px;
}
  
  #score td, #score th {
    padding: 8px;
  }
  
  #score tr:nth-child(even){background-color: #f2f2f2;}
  
  #score tr:hover {background-color: #ddd;}
  
  #score th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4EA6B6;
    color: black;
  }

/*-------------------------
   login og registrering
-------------------------*/

/* log in */
.form-group{
  margin: 20px;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
}

.containerlogin input[type=text], .containerlogin input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border-top:none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid black;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 5px;
  background-color: rgb(128, 128, 128, 0.2);
}
#loginbtn {
  background-color: rgb(153, 209, 209);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 8px;
  color: black;
  font-weight: 600;
}

#loginbtn:hover {
  opacity: 0.8;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

.avatar {
  width: 100%;
  border-radius: 50%;
}

.containerlogin {
  padding: 16px;
}

.wrapperlog{
  width: 40%;
  padding: 16px;
  border-radius: 5px;
}

.psw {
  float: right;
  padding: 8.5px;
}


@media screen and (max-width: 300px) {
  .psw {
     display: block;
     float: none;
  }
}

@media screen and (max-width: 600px) {
  .wrapperlog {
     width: 90%;
  }
}

/* registrering */

.registrer-form{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.registrer-form input[type=text], .registrer-form input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border-top:none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid black;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 5px;
  background-color: rgb(128, 128, 128, 0.2);
}


.Registrerbtn{
  background-color: rgb(153, 209, 209);
  float: left;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 50%;
  color: black;
  font-weight: 600;
}

.Cancel{
  background-color: red;
  float: left;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 50%;
  font-weight: 600;
}

.regbtn{
  width: 40%;
  border-radius: 5px;
}

.regbtn::after{
  background-color: rgb(128, 128, 128, 0.5);
  display: table;
}

.Registrerbtn:hover{
    opacity: 0.8;
}

@media screen and (max-width: 600px) {
  .registrer-form {
     width: 100%;
     height: 100%;
  }
}


/*---------------------
    Profil side
---------------------*/
.Profil-wrapper {
  display: flex;
  justify-content: center;
}

.Endreprofil {
  width: 50%;
  margin-top: 2.5%;
  border-radius: 20px;
  height: fit-content;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  display: flex;
  justify-content: space-evenly;

}

.endretable {
  padding: 2%;
}

.headerinfo {
  font-weight: bold;
  font-size: 20px;
}

#logutbtn {
  margin-top: 50px;
  font-weight: bold;
  font-size: 35px;
  width: fit-content;
  border-color: black;
  border-radius: 10px;
  border-width: 4px;
  background-color: #4EA6B6;
  cursor: pointer;
}
#logutDIV {
  display: flex;
  justify-content: center;
}

#endretable {   
  width: 95%;
  height: fit-content;
  margin-left: 2.5%;
  margin-bottom: 100px;  
  margin-top: 100px;
}
  #endretable td, #endretable th {
    padding: 1%;
  }

.textinput {
  border-radius: 10px;
  border-width: 2px;
  border-color: black;
  font-size: 20px;
}

.profilbtn {
  text-decoration: none;
  width: 200px;
  font-size: 20px;
  font-weight: bold;
  border-color: black;
  border-radius: 10px;
  border-width: 2px;
  border-radius: 8px;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .Endreprofil {
        width: 100%;
        margin-left: 2.5;
    }
    .textinput {
      font-size: 15px;
    }
    .headerinfo {
      font-size: 15px;
    }
    .profilbtn {
      border-color: black;
      border-radius: 10px;
      border-width: 2px;
      border-radius: 8px;
      cursor: pointer;
    }
} 




/* Vipps kort */

.flip-card {
  background-color: transparent;
  width: 240px;
  height: 154px;
  perspective: 1000px;
  color: #ff5a25;
}

.heading_8264 {
  position: absolute;
  letter-spacing: .2em;
  font-size: 0.5em;
  top: 2em;
  left: 18.6em;
}

.logo {
  position: absolute;
  top: 6.8em;
  left: 11.7em;
}

.chip {
  position: absolute;
  top: 2.3em;
  left: 1.5em;
}

.contactless {
  position: absolute;
  top: 3.5em;
  left: 12.4em;
}

.number {
  position: absolute;
  font-weight: bold;
  font-size: .6em;
  top: 8.3em;
  left: 1.6em;
  color: white;
}

.valid_thru {
  position: absolute;
  font-weight: bold;
  top: 635.8em;
  font-size: .01em;
  left: 140.3em;
}

.date_8264 {
  position: absolute;
  font-weight: bold;
  font-size: 0.5em;
  top: 13.6em;
  left: 3.2em;
  color: #ffff;
}

.name {
  position: absolute;
  font-weight: bold;
  font-size: 0.5em;
  top: 16.1em;
  left: 2em;
}

.strip {
  position: absolute;
  background-color: black;
  width: 15em;
  height: 1.5em;
  top: 2.4em;
  background: repeating-linear-gradient(
    45deg,
    #303030,
    #303030 10px,
    #202020 10px,
    #202020 20px
  );
}

.mstrip {
  position: absolute;
  background-color: rgb(255, 255, 255);
  width: 8em;
  height: 0.8em;
  top: 5em;
  left: .8em;
  border-radius: 2.5px;
}

.sstrip {
  position: absolute;
  background-color: rgb(255, 255, 255);
  width: 4.1em;
  height: 0.8em;
  top: 5em;
  left: 10em;
  border-radius: 2.5px;
}

.code {
  font-weight: bold;
  text-align: center;
  margin: .2em;
  color: black;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 1rem;
}

.flip-card-front {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 2px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -1px 0px inset;
  background-color: #171717;
}

.flip-card-back {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 2px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -1px 0px inset;
  background-color: #171717;
  transform: rotateY(180deg);
}